// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  background-color: rgb(61, 58, 58);
  padding: 1rem 0 2rem 0;
}

footer img,
.text-footer {
  color: white;
  font-size: 15px;
}

a i {
  padding-right: 0.5rem;
}
.container-footer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.logo-footer {
  width: 50%;
  padding-top: 20px;
  filter: brightness(0) invert(1);
}

.fa-utensils {
  padding-right: 5px;
}

.fa-handshake-angle {
  transform: scale(0.7);
  padding: 0px;
}

// page restaurant

//media queries
@media screen and (min-width: 768px) {
  .logo-footer {
    transform: scale(1.5);
    padding: 0px 0px 0px 10px;
  }

  .footer-restaurant {
    top: 30rem;
  }

  footer {
    padding-top: 3rem;
  }

  footer ul {
    display: flex;
    gap: 30px;
  }

  .container-footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
