// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// header
.logo {
  width: 100%;
  transform: scale(0.5);
  margin: 0px auto;
}
