.card-restaurant {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 1rem;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}

.card-restaurant {
  position: relative;
}

.img-card-restaurant {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.content-card-restaurant {
  display: flex;
  align-items: center;
}

.text-card-restaurant {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.address-card-restaurant {
  font-size: 15px;
  margin: 0.2rem 0rem;
}

.top-img-card-restaurant {
  position: relative;
}

.new-card-restaurant {
  border-radius: 2px;
  position: absolute;
  right: 0.75rem;
  background-color: $tertiary-color;
  padding: 7px;
  margin-right: 1rem;
  font-size: 15px;
  color: $tertiary-color-dark;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .container-list-of-restaurant-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
  }

  .card-restaurant {
    flex: 1;
    flex-wrap: wrap;
  }

  .content-card-restaurant {
    align-items: flex-end;
  }
}
