.fa-regular {
  margin: 25px 10px 0px 0px;
  right: 2rem;
  transition: color 250ms;

  &:hover {
    color: $primary-color;

    &::after {
      content: "";

      .fa-solid {
        color: $primary-color;
      }
    }
  }
}

.fa-heart-home {
  position: absolute;
  bottom: 30px;
  right: 25px;
}
