.check-meal {
  overflow: hidden;
  position: absolute;
  right: 0;
  left: 100%;
  background-color: rgb(0, 255, 191);
  border-radius: 0px 10px 10px 0px;
  width: 0;
  height: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.fa-circle-check {
  color: white;
}

@keyframes rotation-check {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card-menu-restaurant {
  position: relative;
  &:hover {
    cursor: pointer;
    .check-meal {
      @media screen and (max-width: 425px) {
        width: 15%;
        left: 85%;
      }
      @media screen and (min-width: 426px) and (max-width: 768px) {
        width: 8%;
        left: 92%;
      }
      @media screen and (min-width: 769px) {
        width: 5%;
        left: 95%;
      }
    }
    .fa-circle-check {
      animation: rotation-check 500ms linear forwards;
    }

    .title-starter-restaurant {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 200px;
    }
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80px;
    }

    .description-starter-restaurant {
      padding-right: 20px;
    }
  }
}

@keyframes translate-check {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}

@keyframes translate-price {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 1;
  }
}
