.loader::before {
  z-index: 100;
  position: absolute;
  content: "";
  border: 16px solid rgb(237, 235, 235);
  border-top: 16px solid rgb(236, 36, 236);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  opacity: 0.5;
  animation: cercle 1s ease-in-out both;
  animation-iteration-count: 3;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

@keyframes cercle {
  0% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(360deg);
  }
  100% {
    display: none !important;
    visibility: hidden;
  }
}
