// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// section slogon

.localisation {
  justify-content: center;
  padding: 1.5rem 0rem;
  box-shadow: inset 0em 5px 0.2em $light-medium-grey;
  display: flex;
  background-color: $light-medium-grey;
}

.city-name {
  border: none;
  display: flex;
  align-items: center;
  padding: 0px;
}

::placeholder {
  background-color: $light-medium-grey;
  padding-left: 1rem;
}

.slogan-home {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: $light-ligth-grey;
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.slogan-text {
  margin: 0rem 0rem 2rem 0rem;
  font-size: 17px;
  color: grey;
  width: 100%;
}

// section fonctionnement

#working {
  padding: 0 1rem;
  margin-bottom: 4rem;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 2rem;
}

h3 {
  color: $black;
  margin: 0px;
  font-size: 18px;
}

.fa-mobile-screen-button,
.fa-list,
.fa-store {
  color: rgb(141, 139, 139);
}

// section restaurant

#list-of-restaurant {
  background-color: $light-ligth-grey;
  padding: 3rem 0rem 3rem 0rem;
}

ul {
  list-style: none;
  padding: 0px;
}

// Format tablet

@media screen and (min-width: 426px) and (max-width: 767px) {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  // section restaurant

  .container-list-of-restaurant-tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

//format desktop
@media screen and (min-width: 768px) {
  // section fonctionnement

  ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }
  .card-method-to-choose-restaurant {
    max-width: 400px;
  }

  // section restaurant

  .container-list-of-restaurant-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
  }

  .card-restaurant {
    flex: 1;
    flex-wrap: wrap;
  }

  .content-card-restaurant {
    align-items: flex-end;
  }

  .fa-heart {
    margin-bottom: 1rem;
  }
}
