// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.title{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}

.localisation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.city{
    padding-left: 1rem;
}