// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// article fonctionnement

#working {
  margin-bottom: 4rem;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 2rem;
}

h3 {
  margin: 0px;
  font-size: 18px;
}

// article restaurant

#list-of-restaurant {
  background-color: $light-ligth-grey;
  padding: 3rem 0rem 3rem 0rem;
}
